* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
    font-size: 100px;
    height: 100vh;
}

.time {
    /* background-color: brown; */
    text-align: center;
}

.stop,
.start,
.reset {

    background-color: black;
    font-size: 30px;
    color: azure;
    border-radius: 10px;
    width: 120px;
    margin: 10px;
    padding: 10px;
    border-color: azure;
}